/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General / Utility
--| To Do List
------| Tasks
-----------| Status
--------------------------------------------------------
----------------------------------------------------- */

/* ************************************************************
***************************************************************
--- General / Utility ---
***************************************************************
************************************************************ */
body {
  background: transparent;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.h3 {
  margin: 0;
  font-weight: 700;
}

/* ************************************************************
***************************************************************
--- To Do List ---
***************************************************************
************************************************************ 
.bg-work {
  background-color: rgba(255, 192, 192, 0.85);
}

.bg-personal {
  background-color: rgb(176, 229, 180, 0.85);
}
*/

/* -----------------------------------------------------------
--- Tasks ---
------------------------------------------------------------ */
.task {
  position: relative;
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  margin: 5px 5px 10px;
  border-radius: 8px;
  border-left: 8px solid #000;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
  display: inline-block;
  vertical-align: top;
  min-height: 80px;
  width: calc(50% - 15px);
}

.task:last-of-type {
  margin-bottom: 5px;
}

.task-num,
.task-desc {
  margin: 0;
}

.task-num {
  color: #555;
  min-height: 30px;
}

/* _________________________________________ */
/* --- Status --- */
.task::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 5px;
  background: #e0e0e0;
  border-radius: 5px;
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.85;
}

.not-started {
  border-color: #999;
}
.not-started::after {
  background-color: #999;
  content: 'Not Started';
}

.blocked {
  border-color: #c94050;
}
.blocked::after {
  background-color: #c94050;
  content: 'blocked';
}

.in-progress {
  border-color: #ecb419; 
}
.in-progress::after {
  background-color: #ecb419;
  content: 'in progress';
}

.qa {
  border-color: #554be3;
}
.qa::after {
  background-color: #554be3;
  content: 'in qa';
}

.in-approval {
  border-color: #df8434;
}
.in-approval::after {
  background-color: #df8434;
  content: 'in approval';
}

.done {
  border-color: #63c521;
}
.done::after {
  background-color: #63c521;
  content: 'done';
}

.stopped {
  border-color: #666;
}
.stopped::after {
  background-color: #666;
  content: 'stopped';
}
