body {
  background: #202020;
  margin: 0;
  overflow: hidden;
  font-size: 30px;
  color: rgba(255, 255, 255, .9);
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.15);
  height: 100vh;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  padding-top: 10px;
}